@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  min-height: 100%;
  --bg-dark: oklch(0.92 0.1 68);
  --bg: oklch(0.96 0.1 68);
  /* --bg-light: oklch(0.985 0.1 70); */
  --bg-light: oklch(0.97 0.1 68);
  --color-light: oklch(0.98 0.1 68);
  --text-light: oklch(43.782% 0.06822 20.156);
  --text: oklch(33.782% 0.06822 20.156);
  --text-accent: oklch(0.15 0.2 68);
  /* --text-light: oklch(39.051% 0.03437 18.305); */
  --text-muted: oklch(0.2 0.2 68);
  --highlight: oklch(1 0.2 68);
  --border: oklch(0.922 0 0);
  --border-light: oklch(0.85 0.1 68);
  --border-muted: oklch(0.7 0.2 68);
  --primary: oklch(0.205 0 0);
  --secondary: oklch(0.97 0 0);
  --danger: oklch(0.5 0.2 30);
  --danger-dark: oklch(0.4 0.2 30);
  --warning: oklch(0.5 0.2 100);
  --success: oklch(0.5 0.2 160);
  --success-dark: oklch(0.4 0.2 160);
  --info: oklch(0.5 0.2 260);
  line-height: 1.3;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

body {
  background: var(--bg);
  color: white;
  font-family: var(--font-roboto), sans-serif;
  min-height: 100dvh;
}
h1 {
  font-size: 2rem;
  color: var(--text-muted);
  font-weight: 300;
}
h2 {
  font-size: 1.4rem;
  color: var(--text);
  font-weight: 300;
}
h3 {
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 300;
}
h4 {
  color: var(--text);
  font-size: 1.1rem;
  font-weight: 300;
}
p {
  font-size: 1rem;
  color: var(--text-light);
  line-height: 1.5;
  font-weight: 400;
}
button {
  outline-color: transparent !important;
}
@media screen and (width < 658px) {
  :root {
    font-size: 14px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}
.hero {
  background: linear-gradient(180deg, transparent 60%, rgba(255, 255, 255, 0.3)),
    url("/images/hero2.png") center;
  background-size: cover;
}

:root {
  --title-color: #3b2a13;
  --subtitle-color: #6e3c1b;
  --text-color: #1f1f1f;
  --accent-color: #d47a2c;
}

.slide-in {
  animation-timeline: view();
  animation-range-start: entry 10% !important;
  animation-range-end: entry 40% !important;
  animation: slide-in both linear;
}
@keyframes slide-in {
  0% {
    translate: 0 50px;
    filter: blur(15px);
  }
  100% {
    translate: 0 0;
    filter: blur(0);
  }
}

.logo {
  background-image: linear-gradient(
    90deg,
    var(--border) 40%,
    hsl(0, 0%, 80%) 50%,
    var(--border) 60%
  );
  color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  animation: logoanim 3s both infinite;
}

@keyframes logoanim {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: -100% 0%;
  }
}

.sidebar {
  @media screen and (width <= 765px) {
    position: absolute;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
