@import "tailwindcss";

:root {
  --background: #daa06d;
  --foreground: #171717;
  min-height: 100%;
  --bg-dark: oklch(0.92 0.1 68);
  --bg: oklch(0.96 0.1 68);
  /* --bg-light: oklch(0.985 0.1 70); */
  --bg-light: oklch(0.97 0.1 68);
  --color-light: oklch(0.98 0.1 68);
  --text-light: oklch(43.782% 0.06822 20.156);
  --text: oklch(33.782% 0.06822 20.156);
  --text-accent: oklch(0.15 0.2 68);
  /* --text-light: oklch(39.051% 0.03437 18.305); */
  --text-muted: oklch(0.2 0.2 68);
  --highlight: oklch(1 0.2 68);
  --border: oklch(0.6 0.2 68);
  --border-light: oklch(0.85 0.1 68);
  --border-muted: oklch(0.7 0.2 68);
  --primary: oklch(0.4 0.2 68);
  --secondary: oklch(0.4 0.2 248);
  --danger: oklch(0.5 0.2 30);
  --danger-dark: oklch(0.4 0.2 30);
  --warning: oklch(0.5 0.2 100);
  --success: oklch(0.5 0.2 160);
  --success-dark: oklch(0.4 0.2 160);
  --info: oklch(0.5 0.2 260);
  line-height: 1.3;
}

body {
  background: var(--bg);
  color: white;
  font-family: var(--font-roboto), sans-serif;
  min-height: 100dvh;
}
h1 {
  font-size: 2rem;
  color: var(--text-muted);
  font-weight: 300;
}
h2 {
  font-size: 1.4rem;
  color: var(--text);
  font-weight: 300;
}
h3 {
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 300;
}
h4 {
  color: var(--text);
  font-size: 1.1rem;
  font-weight: 300;
}
p {
  font-size: 1rem;
  color: var(--text-light);
  line-height: 1.5;
  font-weight: 400;
}
button {
  outline-color: transparent !important;
}
@media screen and (width < 658px) {
  :root {
    font-size: 14px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}
.hero {
  background: linear-gradient(180deg, transparent 60%, rgba(255, 255, 255, 0.3)),
    url("/images/hero2.png") center;
  background-size: cover;
}

:root {
  --title-color: #3b2a13;
  --subtitle-color: #6e3c1b;
  --text-color: #1f1f1f;
  --accent-color: #d47a2c;
}

.slide-in {
  animation-timeline: view();
  animation-range-start: entry 10% !important;
  animation-range-end: entry 40% !important;
  animation: slide-in both linear;
}
@keyframes slide-in {
  0% {
    translate: 0 50px;
    filter: blur(15px);
  }
  100% {
    translate: 0 0;
    filter: blur(0);
  }
}

.logo {
  background-image: linear-gradient(
    90deg,
    var(--border) 40%,
    hsl(0, 0%, 80%) 50%,
    var(--border) 60%
  );
  color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  animation: logoanim 3s both infinite;
}

@keyframes logoanim {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: -100% 0%;
  }
}

.sidebar {
  @media screen and (width <= 765px) {
    position: absolute;
  }
}
